.task-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.task-manager__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  /* height: 100vh; */
}

body {
  background-color: #1C273B;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}
