.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.app__heading {
  color: #E9C597;
  text-align: center;
  margin-bottom: 71px;
  font-size: 50px;
}

/* iPhone X */
@media (min-width: 375px) and (max-width: 812px){
  body {
    font-size: 10px;
  }
  .task-count {
    color: #44A0A0;
    font-weight: bolder;
    margin-bottom: -26px;
  }

  .header {
    margin-left: 10px;
    margin-right: 2px;
  }
  
  .task-manager__container {
    display: block;
  }

  .header__add-task-button {
    text-align: center;
    justify-content: center;
  }

  .sidebar__category-list {
    display: flex;
  }

  .task-item__content {
    width: 80%;
  }

  .sidebar {
    background-color: #354259;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 258px;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .sidebar__category-list li {
    padding: 5px;
    cursor: pointer;
    margin-right: 4px;
  }
}

/* Galaxy Note 9 */
@media (min-width: 414px) and (max-width: 846px) {

  .sidebar {
    background-color: #354259;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}









